.dark-high-contrast {
  --md-sys-color-primary: rgb(183 255 224);
  --md-sys-color-surface-tint: rgb(138 214 182);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(135 210 178);
  --md-sys-color-on-primary-container: rgb(0 14 8);
  --md-sys-color-secondary: rgb(220 246 232);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(175 200 187);
  --md-sys-color-on-secondary-container: rgb(0 14 8);
  --md-sys-color-tertiary: rgb(223 243 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(162 200 220);
  --md-sys-color-on-tertiary-container: rgb(0 13 20);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(15 21 18);
  --md-sys-color-on-background: rgb(222 228 223);
  --md-sys-color-surface: rgb(15 21 18);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 73 68);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(233 242 235);
  --md-sys-color-outline-variant: rgb(187 197 190);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 223);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 83 60);
  --md-sys-color-primary-fixed: rgb(166 242 210);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(138 214 182);
  --md-sys-color-on-primary-fixed-variant: rgb(0 21 13);
  --md-sys-color-secondary-fixed: rgb(206 233 219);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(179 204 191);
  --md-sys-color-on-secondary-fixed-variant: rgb(1 21 13);
  --md-sys-color-tertiary-fixed: rgb(194 232 253);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(166 204 224);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 19 28);
  --md-sys-color-surface-dim: rgb(15 21 18);
  --md-sys-color-surface-bright: rgb(75 81 78);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 33 30);
  --md-sys-color-surface-container: rgb(44 50 46);
  --md-sys-color-surface-container-high: rgb(55 61 57);
  --md-sys-color-surface-container-highest: rgb(66 72 69);
}
